/* Everything in this file applies to the pages */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #333333;
  font-family: 'Sansation', sans-serif;
}

.top3container {

}

.top10container {

}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
}

.loginTitle {
  font-size: 48px;
  margin-bottom: 1rem;
}

.error {
  color: red;
  font-size: 16px;
  margin: 0.5rem 0;
}

button {
  /* font family here too */
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  background-color: white; /* White background for buttons */
  color: #1e1e1e; /* Dark text for buttons */
  border: none;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.lyricsImg {
  width: 300px;
  height: 300px;
}

.lyricsText {

}

.lyricsText > h1 {

}

.lyricsText > h2 {
  
}

.lyricsText > h4 {
  
}