/* Everything in this file applies to the pages */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.top3container {

}

.top10container {

}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 400px;
  margin: auto;
  width: 100%;
  text-align: center;
}

.loginTitle {

}

.error {

}

button {
  /* font family here too */
}

.lyricsImg {
  width: 300px;
  height: 300px;
}

.lyricsText {

}

.lyricsText > h1 {

}

.lyricsText > h2 {
  
}

.lyricsText > h4 {
  
}